<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag 'logo-mena.png', alt: 'Logo MENA OR 2021' %>
      <% end %>
      <div class="navbar-burger" data-target="miss-navbar">
        <ul class="sociaux-list">
          <li>
            <button  data-action="click->navbar#toggle" class="button is-default m-0">Menu</button>
          </li>  
        </ul>
      </div>
    </div>

    <div id="miss-navbar" class="navbar-menu"  data-navbar-target="content">
      <div class="navbar-end">
        <a class="navbar-item" href="<%= root_path %>">
          Accueil
        </a>
        <a class="navbar-item" href="<%= root_path %>#partners">
          Les partenaires
        </a>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" href="<%= galeries_path %>">
            Gallerie
          </a>
        </div> -->
        <a class="navbar-item" href="<%= root_path %>#contacts">
          Contacts
        </a>
        <div class="navbar-item">
          <ul class="sociaux-list">
            <li>
              <a class="fb-icon" href="https://www.facebook.com/MENADORNIGER/" target="blank">
                <%= render 'shared_svg/facebook_f' %>
              </a>
            </li>
            <li>
              <a class="twitter-icon" href="#" target="blank">
                <%= render 'shared_svg/twitter_x' %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
