<section id="about" class="section-spacing section-current-miss">
  <div class="container">
    <div class="columns is-multiline is-vcentered is-justify-content-space-between is-reverse-columns-mobile">
      <div class="column is-12-mobile is-6-widescreen">
        <%= image_tag 'presentation-img.jpg', alt: 'Tarmamun Mu', class:"img-fluid" %>
      </div>
      <div class="column is-12-mobile is-6-widescreen">
        <h3 class="is-size-4">Présentation du projet</h3>
        <p>Nous avons coutume de dire que, la reconnaissance du travail bien fait est une récompense souvent bien plus appréciée qu'un salaire.</p>
        <p class="mt-3">Et comme l'a dit Publilius Syrus, "Lorsque le vrai mérite obtient sa récompense, le travail enhardi renaît à l'espérance".</p>
        <p class="mt-3">
          C'est donc dans cet esprit que, soucieux de la culture de l'excellence et de la reconnaissance du mérite au Niger, nous organisons la troisième édition de <strong>« Tarmamun Mu »</strong> sous le thème :
        </p>
        <p class="mt-3"><strong>« La Culture pour un Niger nouveau »</strong></p>
        <p class="mt-3">Cette cérémonie au cours de laquelle nous avons décernés plusieurs trophées pour honorer et célébrer les personnes qui se sont distinguées durant l'année civile précédente.</p>
        <p class="mt-3">Cette troisième édition se veut être une véritable institution qui réunira des personnalités de divers domaines d'activités pour célébrer l'excellence et le mérite.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-spacing section-current-miss has-background-gray">
  <div class="container">
    <div class="columns is-multiline is-vcentered is-justify-content-space-between">
      <div class="column is-12-mobile is-6-widescreen">
        <div class="mr-4 is-hidden-touch"></div>
        <h3 class="is-size-4">Objectif</h3>
        <p>
          Tarmamun Mu se veut être la principale cérémonie nationale de récompense, reconnue et incontournable, nous voulons ainsi :
        </p>
        <ul class="mt-3">
          <li>- Souligner et Valoriser l'excellence et le mérite</li>
          <li>- Faire la promotion de la culture de l'excellence et du mérite</li>
          <li>- Récompenser et célébrer les personnes qui se sont distinguées dans divers domaines domaine d'activités durant une année civile</li>
          <li>- Faire de la culture un outil de promotion de la paix et du développement</li>
        </ul>
        <p class="mt-4">
          Il s'agit donc d'une action large mêlant les dimensions politiques, sociales, économiques, sportives et culturelles...
        </p>
      </div>
      <div class="column is-12-mobile is-6-widescreen">
        <%= image_tag 'objectif-img.jpg', alt: 'Tarmamun Mu', class:"img-fluid" %>
      </div>
    </div>
  </div>
</section>

<section id="partners" class="section-spacing">
  <div class="container">
    <div class="section-title">
      <h2>Devenir partenaire</h2>
      <p>Soyez Partenaires de l'Excellence Culturelle : Rejoignez-nous pour la 3ème Édition de Tarmamun Mu!</p>
    </div>
  </div>

  <div class="is-fluid container">
    <div class="partners-container">
      <div class="partners-line">
        <div>
          <%= image_tag 'partners/affairage227.jpg', alt: 'affairage227' %>
        </div>
        <div>
          <%= image_tag 'partners/anec.jpg', alt: 'anec' %>
        </div>
        <div>
          <%= image_tag 'partners/CANAL.png', alt: 'CANAL+' %>
        </div>
        <div>
          <%= image_tag 'partners/delta.png', alt: 'delta' %>
        </div>
        <div>
          <%= image_tag 'partners/digital-mind.jpg', alt: 'digital-mind' %>
        </div>
        <div>
          <%= image_tag 'partners/digital-niger.jpg', alt: 'digital-niger' %>
        </div>
        <div>
          <%= image_tag 'partners/El rey.jpg', alt: 'El rey' %>
        </div>
        <div>
          <%= image_tag 'partners/elite-media.jpg', alt: 'elite-media' %>
        </div>
        <div>
          <%= image_tag 'partners/faida-consulting.jpg', alt: 'faida-consulting' %>
        </div>
        <div>
          <%= image_tag 'partners/fleur.jpg', alt: 'fleur' %>
        </div>
        <div>
          <%= image_tag 'partners/FITILa.png', alt: 'FITILa' %>
        </div>
        <div>
          <%= image_tag 'partners/groupe-sos.jpg', alt: 'groupe-sos' %>
        </div>
        <div>
          <%= image_tag 'partners/hayat-business.jpg', alt: 'hayat-business' %>
        </div>
        <div>
          <%= image_tag 'partners/ifutur.jpg', alt: 'ifutur' %>
        </div>
        <div>
          <%= image_tag 'partners/iman.png', alt: 'iman' %>
        </div>
        <div>
          <%= image_tag 'partners/jeliba.jpeg', alt: 'jeliba' %>
        </div>
        <div>
          <%= image_tag 'partners/la_monnaie.jpg', alt: 'la_monnaie' %>
        </div>
        <div>
          <%= image_tag 'partners/LOGO CYCLOP BASE.png', alt: 'LOGO CYCLOP BASE' %>
        </div>
        <div>
          <%= image_tag 'partners/Logo mdigitcom.jpg', alt: 'Logo mdigitcom' %>
        </div>
        <div>
          <%= image_tag 'partners/md.jpg', alt: 'digital video production' %>
        </div>
        <div>
          <%= image_tag 'partners/mk2.jpg', alt: 'mk2' %>
        </div>
        <div>
          <%= image_tag 'partners/Magic art.jpg', alt: 'Magic art' %>
        </div>
        <div>
          <%= image_tag 'partners/Ministre de la culture.png', alt: 'Ministre de la culture' %>
        </div>
        <div>
          <%= image_tag 'partners/ml-jid-events.jpg', alt: 'ml-jid-events' %>
        </div>
        <div>
          <%= image_tag 'partners/momo-prods.png', alt: 'momo-prods' %>
        </div>
        <div>
          <%= image_tag 'partners/NAC_Logo_Plan de travail.png', alt: 'NAC_Logo_Plan de travail' %>
        </div>
        <div>
          <%= image_tag 'partners/Niamey Mall.jpg', alt: 'Niamey Mall' %>
        </div>
        <div>
          <%= image_tag 'partners/niger-talla.jpg', alt: 'niger-talla' %>
        </div>
        <div>
          <%= image_tag 'partners/niger-telecoms.jpg', alt: 'niger-telecoms' %>
        </div>
        <div>
          <%= image_tag 'partners/alizza-voyage.jpg', alt: 'alizza-voyage' %>
        </div>
        <div>
          <%= image_tag 'partners/arina.png', alt: 'arina' %>
        </div>
        <div>
          <%= image_tag 'partners/onep.jpg', alt: 'onep' %>
        </div>
        <div>
          <%= image_tag 'partners/petit-plaisir.jpeg', alt: 'petit-plaisir' %>
        </div>
        <div>
          <%= image_tag 'partners/prix-doux.jpg', alt: 'prix-doux' %>
        </div>
        <div>
          <%= image_tag 'partners/saflan.jpg', alt: 'saflan' %>
        </div>
        <div>
          <%= image_tag 'partners/salim-transport.jpg', alt: 'salim-transport' %>
        </div>
        <div>
          <%= image_tag 'partners/sanpai.png', alt: 'sanpai' %>
        </div>
        <div>
          <%= image_tag 'partners/sary-goup.png', alt: 'sary-goup' %>
        </div>
        <div>
          <%= image_tag 'partners/sino-express-academy.jpg', alt: 'sino-express-academy' %>
        </div>
        <div>
          <%= image_tag 'partners/songhoy.jpg', alt: 'songhoy' %>
        </div>
        <div>
          <%= image_tag 'partners/sourbadjo.png', alt: 'sourbadjo' %>
        </div>
        <div>
          <%= image_tag 'partners/tovo.jpg', alt: 'tovo' %>
        </div>
        <div>
          <%= image_tag 'partners/wg.jpg', alt: 'wg' %>
        </div>
        <div>
          <%= image_tag 'partners/wtv.jpg', alt: 'wtv' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-6 has-text-centered">
    <%= render 'shared/donate' %>
  </div>
</section>

<%= render 'shared/contact' %>
