<% content_for :meta_title, "TARMAMUN MU | Galerie" %>

<% content_for :banner do %>
  <div class="banner banner-sm is-justify-content-center">
    <div class="banner-content banner-content-center">
      <div class="section-title mb-0">
        <h2 class="title">
          Galerie
          <span class="is-relative">
            <span class="svg-icon">
              <%= render 'shared_svg/crown' %>
            </span>
            <%= render 'shared_svg/bg_highlight' %>
            TARMAMUN MU 2022
          </span>
        </h2>
      </div>
    </div>
  </div>
<% end %>

<section class="section-spacing pt-4" data-controller="fancy-gallery">
  <div class="column is-10 mx-auto">
    <div class="gallery-row">
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_3.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_8.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_16.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_20.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_21.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_24.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_26.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_29.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic_32.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-2.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-19.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-21.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-24.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-31.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-172.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-238.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-246.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-254.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2022/Mozaic-Magic-238.jpg', title: 'TARMAMUN MU 2022 Galerie' } %>
    </div>
  </div>
</section>

<%= render 'shared/call_to_action' %>

<%= render 'shared/contact' %>
