<% content_for :meta_title, "TARMAMUN MU | Galerie" %>

<% content_for :banner do %>
  <div class="banner banner-sm is-justify-content-center">
    <div class="banner-content banner-content-center">
      <div class="section-title mb-0">
        <h2 class="title">
          Galerie
          <span class="is-relative">
            <span class="svg-icon">
              <%= render 'shared_svg/crown' %>
            </span>
            <%= render 'shared_svg/bg_highlight' %>
            TARMAMUN MU 2021
          </span>
        </h2>
      </div>
    </div>
  </div>
<% end %>

<section class="section-spacing pt-4" data-controller="fancy-gallery">
  <div class="column is-10 mx-auto">
    <div class="gallery-row">
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/077A7123.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/077A7124.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/077A7125.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC05413.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC05504.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC05747.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC05815.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC06143.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC06378.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
      <%= render partial: 'galleries/fancy_gallery', locals: { path: 'media/images/gallery/2021/DSC06404.jpg', title: 'TARMAMUN MU 2021 Galerie' } %>
    </div>
  </div>
</section>

<%= render 'shared/call_to_action' %>

<%= render 'shared/contact' %>
